<h1><%= @vendor.name %></h1>

<br>

Contact Info:<br>
name: <%= @vendor.contact_name %><br>
phone: <%= @vendor.phone %><br><br>

Credit Accepted? <%= @vendor.credit_accepted? %><br><br>

Description: <%= @vendor.description %><br><br>
