<h1>Markets</h1><br>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th> </th>
  </tr>
    <% @markets.each do |market| %>
  <tr>
      <div class="market-<%= market.id %>">
        <td><%= market.name %></td>
        <td><%= market.city %></td>
        <td><%= market.state %></td>
        <td><%= button_to "More Info", market_path(market.id), method: :get %></td>
      </div>
  </tr>
    <% end %>
</table>